{% extends 'base.html' %}

{% block title %}
    Дом у моря
{% endblock title%}

{% block content %}
    {% load thumbnail %}
    <h1>Список домов</h1>
    <form action="" method="get">
        {{ house_filter_form.as_p }}
        <button type="submit">Применить</button>
    </form>
    {% for house in houses %}
        <div style="border: 1px solid black; margin-bottom: 15px; padding-bottom: 10px;">
            <h2><a href="{% url 'house_detail' house.id %}">{{ house.name }}</a></h2>
            <p>{{ house.price }}</p>
            <div>{{ house.description }}</div>
            <a href="{{ house.get_absolute_url }}">Подробнее</a>

            {% thumbnail house.photo "350x200" crop="center" as im %}
                <img src="{{ im.url }}" alt="">
            {% endthumbnail %}
        </div>
    {% endfor %}
{% endblock content %}

